*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-background-color:  #222;
  --app-highlight-color: #a52c26;
  --app-font: 'Anek Malayalam', Arial, sans-serif;
  --shop-gold-color: #b57f0c;
  --app-txt-color:  #f2eecb;
}

body {
  height: 100%;
  background-color: var(--app-background-color);
  color: var(--app-txt-color);
  font-family: var(--app-font) !important;
}

